<header class="main-header"><a class="logo" href="/"><span _ngcontent-c1="" class="logo-mini"><b>A</b>LTE
    </span><span class="logo-lg">
      <b>Hanogi </b>Admin
    </span></a>
  <nav class="navbar navbar-static-top">
    <i class="fas fa-bars" (click)="openSideNav()" [ngClass]="{'disableSideNav': _CommonService.isServerError}"></i>
    <div class="float-right" [ngClass]="{'open':isOpen}">

      <a href="#" class="sub-menu display-inline-block position-relative">
        <i class="far fa-bell"></i>
        <span class="label label-warning">10</span>
      </a>
      <a href="#" class="sub-menu display-inline-block position-relative">
        <i class="far fa-flag"></i>
        <span class="label label-danger">9</span>
      </a>
      <div class="navbar-custom-menu display-inline-block">
        <a href="javascript:void(0)" (click)="isOpen = !isOpen"> <img src="/assets/user.jpg" class="user-image"
            alt="User Image">
          XYZ</a>
        <div class="dropdown-content">
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="/assets/user.jpg" class="img-circle" alt="User Image">

              <p>
                XYZ - Web Developer
                <small>Member since Nov. 2012</small>
              </p>
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>